.panel-body{
    padding-top: 10px;
}
 .breadcrumb,.breadcrumb-item.active,.breadcrumb-item a{
    color: #4B0082;
 }

 .form-material .input-group .input-group-addon{
    border-left: 1px solid rgba(0,0,0,.05);
    border-top: 1px solid rgba(0,0,0,.05);
    border-bottom: 1px solid rgba(0,0,0,.05);
 }
form div.required label.control-label:after {
	content: " * ";
	color: red;
	font-size: 22px;
	position: relative;
	top: 8px;
}

.navbar-brand-text{
    color: #fff;
}

.setting-column h2{
	text-align: center;
    background: #FFCCFF;
    margin-bottom: 20px;
    padding: 10px;
    width: 90%;
    box-shadow: 5px 3px 5px #aaa;
    font-weight: 400;
    font-size: 15px;
    border-radius: 3px;
}

.setting-column a{
	text-decoration: none;
    color: white;
    width: 90%;
    float: left;
    text-align: center;
    margin-bottom: 10px;
    background: #4085BB;
    border-radius: 2px;
    font-size: 16px;
    box-shadow: 5px 3px 5px #aaa;
    border-radius: 3px;
}

.form-width-45{
    width: 45%;
}

.form-width-35{
    width: 35%;
}

.form-width-30{
    width: 30%;
}

.form-width-60{
    width: 60%;
}

.form-width-55{
    width: 55%;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.report-button{
        width: 100%;
        display: inline-block;
        text-align: right;
        margin-top: 50px;
    }
.action-btn {
    height: 50px;
    width: 100px;
    border-radius: 3px;
    background-color: #4D94DB;
    color: #FFF;
    background-position: center 3px;
    background-repeat: no-repeat;
    border: 0;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    cursor: pointer;
}

.action-btn-2 {
    height: 30px;
    display: inline-block;
    width: 30px;
}

#action-btn-xls {
    background-image: url(../../global/portraits/action_btn_xls.png);
}

#action-btn-pdf {
    background-image: url(../../global/portraits/action_btn_pdf.png);
}   

.kv-date-remove{
    display: none;
}

.kv-date-calendar{
    padding: 10px 20px;
}

.kv-date-calendar .glyphicon-calendar{
        margin-left: -7px;
}

.table td:hover a{
    text-decoration: underline;
}

.table a{
    color: #4B0082;
}

.dynamicform_wrapper .panel-default>.panel-heading{
    padding: 5px 10px;
}

.dynamicform_wrapper .panel{
    margin-top: 30px;
}

.dynamicform_wrapper .panel-body{
    padding: 10px;
}

.grid-view h1{
    background: #FFCCFF;
    padding: 7px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    text-align: center;
}

.grid-view h2{
    font-size: 18px;
}

.grid-view table.items {
    background: white;
    border-collapse: collapse;
    width: 100%;
    border: 1px #D0E3EF solid;
}

.grid-view table.items th, .grid-view table.items td {
    font-size: 0.9em;
    border: 1px white solid;
    padding: 0.7em;
}

.grid-view table.items th {
    color: white;
    background: none repeat scroll 0 0 #3C89BD;
    text-align: left;
    padding: 11px;
}

.grid-view table.items tr.odd {
    background: none repeat scroll 0 0 #F4F3F1;
}

.panel-body .header-container{
    width: 100%;
    display: inline-block;
    margin-bottom: 20px;
}

.panel-body .header{
    float: left;
    width: 20%;
}

.panel-body .header label{
    font-weight: 700;
}

#flag_desc {
    background: thistle;
    line-height: 20px;
    padding: 10px;
    width: 96%;
    display: inline-block;
    box-shadow: 10px 3px 5px #aaa;
    border-radius: 5px;
    margin-left: 2%;
    margin-top: 1%;
}

#flag_desc_text {
    width: 95%;
    float: left;
    font-size: 15px;
}

#flag_desc_text b{
    font-weight: 700;
}